<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App</title>
    <style>
        .popadd {
            visibility: hidden; 
            border: 1px solid red;
        }
    </style>

    <script>
        function saveNote(){
            const title = document.getElementById('title').value;
            const content = document.getElementById('content').value;

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/note/add');
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            
            xhr.onreadystatechange = function(){
                // console.log(xhr.readyState);

                // if(xhr.readyState == 4 && xhr.status === 400){
                //     alert('Please try again');
                // }

                if(xhr.readyState == 4 && xhr.status === 200){
                    window.location.reload();
                }
            }

            xhr.send(JSON.stringify({ title, content}));
        }

        function showPopAdd(){
            document.getElementById('popadd').style.visibility = 'visible';
                // alert(text)
                // more('clicked', 'text');
        }

        // function more(what, how){
        //     confirm(what +' -> '+' Thank you --> '+how);
        // }
    </script>
</head>
<body>
    <h1>Notes</h1>
    <button onclick="showPopAdd()" >Add</button>
    <ul>
        <% notes.forEach(note => { %>
            <li>
                <%= note.title %> 
                <a href="/note/<%= note.id %>">View</a> 
                <form action="/note/delete/<%= note.id %>" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>
    
    <div id="popadd" class="popadd">
        <form>
            <label for="title">Title</label>
            <input id="title" name="title">
            <br>
            <label for="content">Note content</label>
            <textarea id="content" name="content"></textarea>
            <br>
            <button type="button" onclick="saveNote()">Save</button>
        </form>
    </div>

</body>
</html>
