fieldset > div {
    padding: 10px;
}

input[type="submit"],input[type="reset"] {
    background-color: beige;
    padding: 10px;
}

body {
    background-image: url('/bi-background-waves.png');
    background-size: 100%;
    color: wheat;
}

table tr td {
    border: 1px salmon solid;
}
